.row {
	margin-left: 0;
	margin-right: 0;
}

.fixed-table-container thead th:first-child{
	border-radius: 0;
	border: 0;
	border: 1px solid #212529;
}

.table-bordered{
	border-radius: 0;
	border: 0;
}



.pull-right {

    float: right !important;

}

.pull-left {
  float: left !important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.fixed-table-toolbar .dropdown-menu {
    text-align: left;
}
.dropdown-menu {
    font-size: 14px;
    text-align: left;
    list-style: none;
}
.fixed-table-toolbar .bars, .fixed-table-toolbar .columns, .fixed-table-toolbar .search {
    line-height: 34px;
}

