<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Antminer Monitor</title>
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}} ">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="row">
<div class="col">
<h2>Antminer Monitor</h2>
<fieldset style="width: 300px;">
<legend>Countdown</legend>
<b id="countdown"></b>
</fieldset>
</div>
</div>




<div class="container">
    <div class="row">
    <div class="col">
        <fieldset name="total_hashrate" style="height:130px">
            <legend>Total hashrate per model (5s)</legend>
            <ul>
                {%- for model in total_hash_rate_per_model|sort %}
                    <li><u>{{ model }}:</u> <strong>{{ total_hash_rate_per_model[model] }}</strong>
                    </li>
                {%- endfor %}
				
				
				
				{%- for model in total_miner_info|sort %}
					{% if (total_miner_info[model].sum > 0) and (model != 'All') %} 
                    <li><strong><u>{{ model }}:</u></strong>
					All:{{ total_miner_info[model].sum}}
					Error:{{ total_miner_info[model].err}}
					Warning:{{ total_miner_info[model].war}}
					OK:{{ total_miner_info[model].ok}}
					Offline:{{ total_miner_info[model].offline}}
                    </li>
					{% endif %}
		
                {%- endfor %}
				
				{%- for model in total_miner_info|sort %}
					{% if model == 'All' %} 
					<li>All: <strong><u>{{ total_miner_info[model].sum}}</u></strong>
					Error: <strong><u>{{ total_miner_info[model].err}}</u></strong>
					Warning: <strong><u>{{ total_miner_info[model].war}}</u></strong>
					OK: <strong><u>{{ total_miner_info[model].ok}}</u></strong>
					Offline: <strong><u>{{ total_miner_info[model].offline}}</u></strong>
                    </li>
					{% endif %}					
               {%- endfor %}				
				
				

            </ul>
        </fieldset>
    </div>
</div>


<br/>



{%- with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}

<div class="row">
<div class="col">
		<div class="alert {{ category }} alert-dismissible fade show" role="alert">
  <strong>{{ category }}</strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
</div>
        {% endfor %}
    {% endif %}
{%- endwith %}










<div class="row">
<div class="col"> <br/>
</div>
</div>

<br/>
</div>






<div class="row">
<div class="col">
<fieldset name="active_miner_list">
    <legend>Active Miners ({{ miners|length }})</legend>
    <table id="table" class="table table-bordered" 
					data-toggle="table"
					data-search="true"
					data-filter-control="true" 
					data-show-export="true">
	<thead class="thead-dark">
        <tr>
            <th data-field="ip2" data-filter-control="input" data-sortable="true"><span class="text-success">IP Address</span></th>
            <th data-field="worker2" data-filter-control="input" data-sortable="true"><span class="text-success">Worker</span></th>
            <th data-field="model2" data-filter-control="select" data-sortable="true"><span class="text-success">Model</span></th>
            <th data-field="remarks2" data-filter-control="input" data-sortable="true"><span class="text-success">Remarks</span></th>
            <th data-field="Os" data-filter-control="input" data-sortable="true" title="'O' means OK"><span class="text-success">(Os)</span></th>
            <th data-field="Xs" data-filter-control="input" data-sortable="true" title="'X' means defective"><span class="text-success">(Xs)</span></th>
            <th data-field="R" data-filter-control="input" data-sortable="true" title="'-' means instability of the power supply voltage or the defective hash board"><span class="text-success">(-)</span></th>
            <th data-field="Chip" data-filter-control="input" data-sortable="true"><span class="text-success">Chip Temp(C)</span></th>
            <th data-field="Fan" data-filter-control="input" data-sortable="true"><span class="text-success">Fan speeds (rpm)</span></th>
            <th data-field="Hashrate" data-filter-control="input" data-sortable="true"><span class="text-success">Hashrate (5s)</span></th>
            <th data-field="HW" data-filter-control="input" data-sortable="true"><span class="text-success">HW Error %</span></th>
            <th data-field="Uptime" data-filter-control="input" data-sortable="true"><span class="text-success">Uptime</span></th>
            <th data-field="Status" data-filter-control="select" data-sortable="true"><span class="text-success">Status</span></th>
            <th data-field="Last" data-filter-control="input" data-sortable="true"><span class="text-success">Last</span></th>
            <!--<th>JSON Info</th>-->
            <th>Reboot</th>
            <th>Remove</th>
        </tr>
		</thead>
  	
		
        {%- for active_miner2 in miners|sort(attribute='ip') %}
            <tr
			{% if active_miner2.ip in miner_errors %} 
				class="table-danger"
			{% elif active_miner2.ip in miner_wars %}
				class="table-warning"
			{% endif %} id="tablerow{{ loop.index }}"
			>
                <td><a target="_blank" href="http://{{ active_miner2.ip }}" class="text-success">{{ active_miner2.ip }}</a></td>
                <td>{{ active_miner2.worker }}</td>
                <td>{{ active_miner2.model.model }}</td>
                <td>{{ active_miner2.remarks }}</td>
                <td>{{ active_miner2.chipsOs }}</td>
                <td>{{ active_miner2.chipsXs }}</td>
                <td>{{ active_miner2.chipsl }}</td>
                <td>{{ active_miner2.tem }}</td>
                <td>{{ active_miner2.fan }}</td>
                <td>{{ active_miner2.hash }}</td>
                <td>{{ active_miner2.hwerorr }}</td>
                <td>{{ active_miner2.uptime }}</td>
               <!-- <td title="{%- if active_miner2.ip in miner_errors %}{{ miner_errors[active_miner2.ip] }}{%- endif %}">-->
                <td>
                    {%- if active_miner2.ip in miner_errors %}
						{{ miner_errors[active_miner2.ip] }}
					{%- elif active_miner2.ip in miner_wars %}
						{{ miner_wars[active_miner2.ip] }}
					{%- else %}
						OK
					{%- endif %}</td>
                <!--     {%- if active_miner2.ip in miner_errors %}Check your miner{%- else %}OK{%- endif %}</td>-->
				<td>{{ active_miner2.last }}</td>	
                <!--<td>
				<a target="_blank" href="/{{ active_miner2.ip }}/summary">Summary</a> |
                    <a target="_blank" href="/{{ active_miner2.ip }}/pools">Pools</a> |
                    <a target="_blank" href="/{{ active_miner2.ip }}/stats">Stats</a>
				</td>-->
				<td class="text-center"><a href="#!" onclick="send('reboot','{{active_miner2.ip}}','{{ loop.index }}')" class="text-success"><i class="material-icons">cached</i></a></td>
				<td class="text-center"><a href="#!" onClick="send('delete','{{active_miner2.ip}}','{{ loop.index }}')" class="text-danger"><i class="material-icons">delete_forever</i></a></td>
            </tr>

        {%- endfor %}		
    </table>
</fieldset>
</div>
</div>

<br/>




    <script>
        (function countdown(remaining) {
            if(remaining === 0)
                location.reload(true);
            else {
                document.getElementById('countdown').innerHTML = 'Refresh in: ' + remaining + ' sec';
                setTimeout(function(){ countdown(remaining - 1); }, 1000);
            }
        })(300);
    </script>
    <!-- https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=dash:XiXwTjyN8DAsQaRh2pcFVyVSbXvk6Ph6ro?amount=0.001-->



	    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-ru-RU.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/editable/bootstrap-table-editable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/export/bootstrap-table-export.min.js"></script>

<script src='http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>




  <script type="text/javascript">
       function send(arr,ip,index){
	   var url = ""
	   
switch(arr) {
  case 'reboot':  
  url = "/reboot/" + ip
   		$.post(url, function(data) {
		  alert('Команда на перезагрузку хоста ' + ip + ' отправлена.');
		});
    break;

  case 'delete':  
   url = "/delete/" + ip
    
	$.post(url, function(data) {
		  alert('Хост ' + ip + ' удалён.'),
		  document.getElementById("tablerow"+index).remove();
		  ;
		});
    break;


};
	   

		
		
      };
	  
	  
	  
	  


  </script>


</body>
</html>
